html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="/javascripts/bootstrap.min.js")
        title= title
    body.bg(style="height: 100%")
        .row.h-100.align-items-center.d-flex.justify-content-center
            .col-md-3.d-flex.justify-content-center.col-md-offset-3
                img.img-fluid(src="/images/pug.png", alt="PUG")
            .col-md-6
                h1 Error 404
                h4 Ups! parece que Medi-App no encontro la ruta que estas buscando...
            