extends index.pug

block modals
    // *Modals*
    // Registry
    .modal.fade#modalRegistry(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .row.justify-content-center.text-center
                    .modal-header
                        h1
                            span.badge.badge-pill.badge-info.col Agregar Item
                .modal-body#modalBodyRegistry
                    form#registry-form(autocomplete="off")
                        .form-group
                            label(for="name") Nombre:
                            input.form-control#name(type="text", name="name", placeholder="Nombre de item...", maxlength="50", required)
                        .form-group
                            label(for="id-exp") N° de expediente:
                            input.col-md-5.form-control#id-exp(type="text", name="id-exp", placeholder="ID de item...", maxlength="10", required)
                        .form-group
                            label(for="desc") Descripción:
                            textarea.form-control#desc(name="desc", placeholder="Detalle de item...", maxlength="255", required)
                        .form-group
                            label(for="can") Cantidad:
                            input.col-md-5.form-control#can(type="number", name="can", placeholder="10", min="1", required)
                        div#msgRegistry
                    .autocomplete.list-group#list
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                    button.btn.btn-primary#btnRegistry(type="button") Agregar
    // Add/Sell
    .modal.fade#modalAddSell(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h3.modal-title
                        span#modalTitle
                .modal-body#modalBodyAddSell
                    h5.
                        Item: Expediente # #[span.expTxt]
                    form#formAddSell
                        .form-group#sellID(style="display:none")
                            label(for="idc") ID Cliente:
                            input.form-control.col-4#idc(type="text", name="idc", placeholder="Cédula de cliente...", maxlength="10", required)
                        .form-group
                            label.col-form-label(for="modalNum") Cantidad:
                            input.form-control.col-4#modalNum(type="number", name="modalNum", placeholder="10", min="1", required)
                #msgAddSell
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                    button.btn#btnModalAddSell(type="button")
    // Info
    .modal.fade#modalInfo(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
            .modal-content
                .modal-header
                   h3.modal-title.
                        Detalles de Item, Expediente: # #[span.expTxt]
                .modal-body#modalBodyInfo
                    include ../public/html/infoFields.html
                #msgInfo
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
    // Delete
    .modal.fade#modalDel(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                    .modal-header
                        .modal-title Eliminar Item
                    .modal-body#modalBodyDel
                        h5.
                            ¿Está seguro de eliminar el Item # #[span.expTxt] ?
                        #msgDel
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                        button.btn.btn-danger#btnModalDel(type="button") Eliminar
block navbar
    include navbar-user.pug
block content
    row.justify-content-center.text-center.mt-3
        h1
            button.col-md-3.btn.btnMenus.btn-info#btnInventory(disabled) Inventario
            button.col-md-3.btn.btnMenus.btn-secondary#btnSales Ventas
    .container#inventory
        button.btn.btn-primary(data-toggle="modal", data-target="#modalRegistry")
            i.material-icons library_add
            | Agregar Item
        .row.justify-content-center.mt-3
            .col
                .table-responsive.mb-3
                    table.table.table-striped.table-bordered#dataTable(style="width:100%")
                        thead.text-center
                            tr
                                th Expediente
                                th Nombre
                                th Cantidad
                                th Descripción
                                th Acciones
                        tbody
    .container#sales(style="display:none")
        .row.justify-content-center.mt-3
            .col
                .table-responsive.mb-3
                    table.table.table-striped.table-bordered#salesTable(style="width:100%")
                        thead.text-center
                            tr
                                th Fecha
                                th ID comprador
                                th Medicamento
                                th Cantidad
                        tbody
block js
    script(src="/DataTables/datatables.min.js")
    script(src="/javascripts/tables.js")