<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/DataTables/datatables.min.css")
        link(rel="stylesheet", href="/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css")
        link(rel="stylesheet", href="/stylesheets/material-icons-config.css")
        link(rel="stylesheet", href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css")
        script(src="/javascripts/jquery-3.5.1.min.js")
        script(src="/javascripts/popper.min.js")
        script(src="/javascripts/bootstrap.min.js")
        script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
        script(src="/javascripts/fontawsome-config.js")
        title= title
    body.primary-color-light
        block modals
        block navbar
        .container#container(style='display : none')
            block content
        block js
            script(src="/javascripts/index.js")