nav.navbar.navbar-light-navbar-1.primary-color
    img.d-inline-block.align-top(src="/images/logo_transparent.png", alt="", srcset="", width="80", height="80", loading="lazy")
    span.navbar-brand
        h1
            span.badge.badge-pill.badge-light(id="navbar-title")= navbarText