nav.navbar.navbar-light.navbar-1.primary-color.navbg.row(id="navbar", style="display:none")
    img.col-sm-3.col-md-3.d-flex.justify-content-start(src="/images/mediapp_navlogo.png", alt="", srcset="", width="140", height="50", loading="lazy")
    span.navbar-brand
        h1.col-sm-12.col-md-7.d-flex.justify-content-center
            span.badge.badge-pill.badge-light(id="navbar-title")= navbarText
    a.btn.btn-danger.btn-lg.col-sm-12.col-md-2(href="/logout") Cerrar Sesión