.primary-color {
  background-color: #f26463;
}

.primary-color-light {
  background-color: #dbdbdb;
  background-image: url("/images/mediapp_background.jpg");
  background-size: cover;
}

.navbg{
  background-image: url("/images/navbg.jpg");
  background-size: cover;
}

.primary-color-dark {
  background-color: #005cb2;
}

.bg {
  background-color: #E1E2E1;
}

#modalBodyRegistry {
  height: 400px;
  overflow: hidden;
}

.autocomplete {
  position: relative;
  margin-top: -295px;
  max-height: 150px;
  overflow: scroll;
}

.autocomplete::-webkit-scrollbar {
  background: transparent;
}
