<!-- Print Info -->
<h5>Producto: <span id="infoProd"></span></h5>
<h6>Titular: <span id="infoTitular"></span></h6>
<h6>Registro: <span id="infoReg"></span></h6>
<h6>Fecha de Expedición: <span id="infoFechEx"></span></h6>
<h6>Fecha de Vencimiento: <span id="infoFechVen"></span></h6>
<h6>Cantidad de contenido: <span id="infoCnd"></span></h6>
<h6>Descripción Comercial: <span id="infoDesc"></span></h6>
<h6>Via de administriación: <span id="infoVia"></span></h6>
<h6>Principio Activo: <span id="infoPrAc"></span></h6>
<h6>Unidad: <span id="infoUnd"></span></h6>
<h6>Unidad de medida: <span id="infoUndMd"></span></h6>
<h6>Unidad de referencia: <span id="infoUndRf"></span></h6>